/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/Gilroy-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/Gilroy-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/Gilroy-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/Gilroy-Semibold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/Gilroy-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/Gilroy-Extrabold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: Gilroy;
  src: url("../public/fonts/Gilroy-Black.woff2");
  font-weight: 900;
}
* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
